* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes move {
  0% {
    transform: translateY(15px);
  }
  50% {
  transform: translateY(-15px);
}
  100% {
    transform: translateY(15px);
  }
}

.top {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color:  #2BEB8F;
}
  /*display: flex;
  flex-wrap: wrap;*/

/* .content {
  color: #2BEB8F;
} */

footer {
  position: absolute;
  bottom: -150px;
  height: 52px;
  width: 100%;
  background-color: #181616;
}

.description {
  color: white;
}

h1 {
  color: #ffffff;
}

h2 {
  margin: center;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 80px;
  text-align: center;
  color: white;
}

h3 {
  color: #000000;
}

h4 {
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
  text-align: center;
  color: #F3BF99;
}

h6 {
  text-align: center;
}

p {
  width: 505px;
  height: 473px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #FFFFFF;
}

button {
  position: absolute;
  bottom: 20px;
  left: 650px;
  width: 220px;
  height: 60px;

  background: #2BEB8F;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.btn-back {
  position: absolute;
  bottom: -50px;
  left: 650px;
  background: #C8DCD2;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.btn-choose {
  width: 140px;
  height: 50px;
  background: #C8DCD2;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
  /* box里面的last给它弄点样式，最后一个框不需要间隔了 */

.nav-items {
  list-style: none;
  position: absolute;
  top:5px;
  right: 130px;
  display: flex;
  color: white;
}

.nav-logo {
  width: 55px;
  position: absolute;
  top:5px;
  left: 400px;
}

.intro {
  position: absolute;
  top:10px;
  left:480px;
}

.introduce {
  position: absolute;
  top:200px;
  left:540px;
}

table {
  position: absolute;
  top:180px;
  left:-30px;
  border-spacing: 40px;

}

td {
  width: 140px;
  height: 40px;
  color: #000;
  text-align: center;
  background-color: #C8DCD2;
  border-radius: 30px;
}

.intro2 {
  position: absolute;
  top:120px;
  left:350px;
  width: 850px;
  height: flex;
  background-color: #C4C4C4;
  border-radius: 14px;
}

.title {
  position: absolute;
  top:-10px;
  left: 400px;
}

.laba {
  width: 600px;
  position: absolute;
  top:-50px;
  left: -80px;
  animation: 4s move infinite ease-out 800ms;
}

.laba2 {
  width: 300px;
  position: absolute;
  top:50px;
  left: 40px;
  transform: rotate(15.71deg);
}

.erji {
  width: 300px;
  position: absolute;
  top:40px;
  right: 10px;
  animation: 4s move infinite ease-out 800ms;
}

.erji2 {
  width: 100px;
  position: absolute;
  top:60px;
  right: 60px;
}

.shouyinji {
  width: 240px;
  position: absolute;
  top:500px;
  right: 250px;
  transform: rotate(14.24deg);
  animation: 4s move infinite ease-out 800ms;
}

.shouyinji2 {
  width: 140px;
  position: absolute;
  top:500px;
  right: 280px;
  transform: rotate(14.24deg);
}

.yinfu {
  position: absolute;
  width: 20px;
  bottom:0px;
  right: 520px;
  transform: rotate(22deg);
}

.yinfu2 {
  position: absolute;
  width: 30px;
  bottom:320px;
  left: 20px;
  transform: rotate(-22deg);
}

.yinfu3 {
  position: absolute;
  width: 10px;
  top:80px;
  right: 300px;
  transform: rotate(60deg);
}

.yinfu4 {
  position: absolute;
  width: 15px;
  top:350px;
  right: 80px;
  transform: rotate(-20deg);
}

.people {
  width: 110px;
  height: 195px;
  position: absolute;
  bottom:10px;
  left: 400px;
}

.nav-items > li {
  padding: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color {
  width: 610px;
  position: absolute;
  bottom:240px;
  left: 490px;
}

body, html {
  background-color: #0D0C0C;
  display: flex;
  height: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Microsoft YaHei' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
