* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes move {
  0% {
    transform: translateY(15px);
  }
  50% {
  transform: translateY(-15px);
}
  100% {
    transform: translateY(15px);
  }
}

.top {
  width: 100%;
  height: 60px;
  line-height: 10px;
  background-color:  #2BEB8F;
}

/* .nav-items > li {
  padding: 15px;
} */

  /*display: flex;
  flex-wrap: wrap;*/

/* div:hover {
    box-shadow: 2px 2px 2px -4px rgba(0, 0, 0, 0.25) inset;
} */

.content {
  margin: auto;
  width: 1920px;
  height: flex;
  background-color: #0D0C0C;
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.25) inset;

}

footer {
  position: absolute;
  bottom: -220px;
  height: 52px;
  width: 100%;
  background-color: #181616;
}

.footer2 {
  position: absolute;
  left: 0px;
  height: 52px;
  width: flex;
  background-color: #0D0C0C;
}

.description {
  color: white;
}

/*
a:link {
  color: blue  从来没有访问过的链接
}
a:visited {
  color: gray;

  LVHA的顺序写，否则不行
} */

/* 链接伪类选择器之一：鼠标正在按下，还没有弹起鼠标的那个链接 */

.tdcolor10:hover,
.tdcolor9:hover,
.tdcolor8:hover,
.tdcolor7:hover,
.tdcolor6:hover,
.tdcolor5:hover,
.tdcolor4:hover,
.tdcolor3:hover,
.tdcolor2:hover,
.tdcolor1:hover {
  width: 62px;
  height: 62px;
  border: 5px solid #CEB6B6;
  background: #0D0C0C;
  background-image: url(choose.svg);
  border-radius: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.tdprefs1:hover,
.tdprefs2:hover,
.tdprefs3:hover,
.tdprefs4:hover,
.tdprefs5:hover,
.tdprefs6:hover,
.tdprefs7:hover,
.tdprefs8:hover,
.tdprefs9:hover,
.tdprefs10:hover,
.tdprefs11:hover,
.tdprefs12:hover,
.tdprefs13:hover,
.tdprefs14:hover,
.tdprefs15:hover {
  color: black;
  background-color: #2BEB8F;
}

a:hover {
  color: red;
}

a:active {
  color: orange;
}

/* 从行内元素转换为行内块元素 display: inline-block*/
a {
  padding: 0px 10px;
  text-decoration: none;
}

h1 {
  color: #ffffff;
  font-size: 28px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 80px;
  color: white;
}

h3 {
  color: #000000;
  font-size: 21px;
}

h4 {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #F3BF99;
}

h5 {
  color: white;
  line-height: 50px;
  font-weight: 400;
  display: inline-block;
}

.h-button {
  height: 600px;
}

.h-num {
  margin-right: 20px;
  margin-left: 41.5px;
  width: flex;
  height: 50px;
  float:left;
  display: inline-block;
}

.h-time {
  float:left;
  width: 0px;
  margin-left: 120px;
}

.h-cover {
  margin-right: 62px;
  margin-left: 20px;
  height: 40px;
  float:left;
  display: inline-block;
  vertical-align:middle;
  position: relative;
}

.h-button {
  width: 10px;
  height: 10px;
  color: none;
}

.h-cover .h-pic {
  position: absolute;
  top: 13.5%;
  width: 40px;
  vertical-align: middle;
}

.h-instrument {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}

.h-xian {
  float:left;
  margin-left: 40px;
  margin-right: 00px;
}

.h-name {
  text-align: left;
  float: left;
  margin-left: 20px;
  width: 180px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
}

.h-singer {
  text-align: left;
  float: left;
  margin-left: 40px;
  width: 200px;
  height: 50px;
  display: inline-block;
}

span {
  color: white;
  margin-right: 75px;
  line-height: 50px;
}

h6 {
  text-align: center;
}

p {
  width: 800px;
  height: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #FFFFFF;
}

.intro-para {
  width: 505px;
  height: 473px;
  color: white;
}

em {
  font-style: normal;
}

button {
  position: absolute;
  bottom: 20px;
  left: 650px;
  width: 220px;
  height: 60px;

  background: #2BEB8F;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.header {
  text-decoration: none;
  font-weight: bolder;
  padding-right: 35px;
}

button:hover {
  background: #0FC36D;
}

.makeprocess-link:hover {
  background: #
}

.btn-back:hover {
  background: #AFD2C2;
}

.btn-back {
  position: absolute;
  bottom: -50px;
  left: 650px;
  background: #C8DCD2;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.btn-choose {
  width: 140px;
  height: 50px;
  background: #C8DCD2;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
  /* box里面的last给它弄点样式，最后一个框不需要间隔了 */

.nav-items {
  list-style: none;
  position: absolute;
  top:25px;
  right: 75px;
  display: flex;
}

.nav-logo {
  width: 55px;
  position: absolute;
  top:5px;
  left: 400px;
}

.name {
  position: absolute;
  top:22px;
  left:480px;
}

.introduce {
  position: absolute;
  top:200px;
  left:540px;
}

.intro-page3 {
  padding: 50px 80px;
  position: absolute;
  top:200px;
  left:540px;
}

.makeprocess-link {
  color: #2BEB8F;
  font-weight: bolder;
}

.colorchoose {
  width: 580px;
  height: auto;

  position: absolute;
  top:140px;
  left:25px;
  margin: 0 auto;
}

.musicgenre {
  width: 800px;
  height: 180px;
  position: absolute;
  top:140px;
  left:-170px;
}



tr {
  margin-top: 10px;
}

.tdprefs1,
.tdprefs2,
.tdprefs3,
.tdprefs4,
.tdprefs5,
.tdprefs6,
.tdprefs7,
.tdprefs8,
.tdprefs9,
.tdprefs10,
.tdprefs11,
.tdprefs12,
.tdprefs13,
.tdprefs14,
.tdprefs15 {
  width: 135px;
  height: 40px;
  color: #000;
  text-align: center;
  background-color: #A89BF1;
  border-radius: 30px;
  line-height: 40px;
}

.tdcolor1 {
  width: 60px;
  height: 60px;
  background: #FF0000;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor2 {
  width: 60px;
  height: 60px;
  background: #FFD90F;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor3 {
  width: 60px;
  height: 60px;
  background: #FF6B00;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor4 {
  width: 60px;
  height: 60px;
  background: #FD5ED0;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor5 {
  width: 60px;
  height: 60px;
  background: #CD3FFF;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor6 {
  width: 60px;
  height: 60px;
  background: #312F2F;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor7 {
  width: 60px;
  height: 60px;
  background: #C4C4C4;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor8 {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor9 {
  width: 60px;
  height: 60px;
  background: #0014C3;
  border-radius: 50%;
  padding-left: 10px;
}

.tdcolor10 {
  width: 60px;
  height: 60px;
  background: #0DFFA8;
  border-radius: 50%;
  padding-left: 10px;
}

.intro-panel {
  position: absolute;
  top:120px;
  left:322px;
  width: 880px;
  height: flex;
  background-color: #181620;
  border-radius: 14px;
  padding: 15px 42px;


  justify-content:center;
  align-items:center;
}

.ul-list {
  list-style-type: none;
  margin-top: 65px;
}

.list:hover {
  width: 980px;
  background-color: #35333C;
  border-radius: 6px;
}

.list {
  width: 980px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
}

.list-panel {
  position: absolute;
  top:60px;
  left:260px;
  width: 1000px;
  height: 800px;
  padding: 60px 10px 0px 10px;
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.4);

  display:flex;
  justify-content:center;
  align-items:center;
  border-radius: 6px;
}

.list-panel02 {
  height: flex;
}

.title {
  position: absolute;
  top:-10px;
  left: 400px;
}

.laba {
  width: 600px;
  position: absolute;
  top:-50px;
  left: -80px;
  animation: 4s move infinite ease-out 800ms;
}

.laba2 {
  width: 300px;
  position: absolute;
  top:50px;
  left: 40px;
  animation: 4s move infinite ease-out 800ms;
}

.laba3 {
  width: 300px;
  position: absolute;
  top:50px;
  left: 0px;
  opacity: 0.4;
  animation: 4s move infinite ease-out 800ms;
}

.erji {
  width: 300px;
  position: absolute;
  top:40px;
  right: 10px;
  animation: 4s move infinite ease-out 800ms;
}

.erji2 {
  width: 100px;
  position: absolute;
  top:60px;
  right: 60px;
  animation: 4s move infinite ease-out 800ms;
}

.erji3 {
  width: 100px;
  position: absolute;
  top:60px;
  right: 60px;
  opacity: 0.3;
  animation: 4s move infinite ease-out 800ms;
}

.shouyinji {
  width: 240px;
  position: absolute;
  top: 500px;
  right: 250px;
  transform: rotate(14.24deg);
  animation: 4s move infinite ease-out 800ms;
}

.shouyinji2 {
  width: 140px;
  position: absolute;
  top:500px;
  right: 280px;
  animation: 4s move infinite ease-out 800ms;
}

.shouyinji3 {
  width: 140px;
  position: absolute;
  top:560px;
  right: 260px;
  opacity: 0.1;
  animation: 4s move infinite ease-out 800ms;
}

.yinfu {
  position: absolute;
  width: 20px;
  bottom:0px;
  right: 520px;
  transform: rotate(22deg);
}

.yinfu2 {
  position: absolute;
  width: 30px;
  bottom:320px;
  left: 20px;
  transform: rotate(-22deg);
}

.yinfu3 {
  position: absolute;
  width: 10px;
  top:80px;
  right: 300px;
  transform: rotate(60deg);
}

.yinfu4 {
  position: absolute;
  width: 15px;
  top:350px;
  right: 80px;
  transform: rotate(-20deg);
}

.people {
  width: 110px;
  height: 195px;
  position: absolute;
  bottom:10px;
  left: 400px;
}

.love {
  position: absolute;
  bottom: 55px;
  left: 170px;
}

.prefs-h3 {
  width:400px;
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
}

.color-h3 {
  width:400px;
  position: absolute;
  top: 50px;
  left: 95px;
  color: white;
}

.list-h3 {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 900px;
  height: 40px;
  color: #4A4A4A;
  font-size: 16px;

  text-align: center;
  justify-content:center;
  align-items:center;
}

.proposal {
  width: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color {
  width: 610px;
  position: absolute;
  bottom:240px;
  left: 490px;
}

body, html {
  background-color: #0D0C0C;
  display: flex;
  height: auto;
  margin: 0;
  font-family: 'Microsoft YaHei', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
}
